/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url("https://use.typekit.net/gvs0cxm.css");
@import url("https://use.typekit.net/lif3ixw.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/vbe1gxg.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Indie+Flower&family=Permanent+Marker&display=swap');

html {
  box-sizing: border-box; 
  font-size: 16px; 
}
*,
*:before,
*:after {
  box-sizing: inherit; 
}
:root {
  --milkTeaBeige: #ECD0B8; 
  --bobaBrown: #4E2501; 
  --matchaGreen: #B4C69A; 
  --whiteSmoke: #FFF3E9; 
  --white: #FFFFFF; 
  --black: #000000;
}
body {
  background-color: var(--milkTeaBeige);
  color: var(--bobaBrown);
  font-family: 'EB Garamond', Garamond, serif;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  line-height: 1.6;
  font-size: 1.125rem;
}
.homePage {
  background-color: var(--milkTeaBeige);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  
}
.heroWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2{
  font-family: Ekamai, sans-serif;
  color: var(--bobaBrown);
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
h3{
  font-family: "Permanent Marker", cursive;
  color: var(--bobaBrown);
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
.subheader{
  font-family: 'Indie Flower', cursive;
  color: var(--bobaBrown);
}

.globalNav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bobaBrown);
  padding: 1rem 1.5rem;
  top: 0;
  z-index: 100;
  color: var(--white);
}
.globalNav ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}
.globalNav a{
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.globalNav a:hover{
  text-decoration: underline;
  color: var(--matchaGreen);
}
.globalNav a.isActive{
  background-color: var(--bobaBrown);
  color:var(--matchaGreen);
}


.homeCtaButton {
  display: inline-block; 
  text-decoration: none;
  background-color: var(--bobaBrown);
  color: var(--milkTeaBeige);
  margin-top: 2rem;
  margin-bottom: 2rem; 
}
.heroCard {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-height: 500px;
  margin: 4rem auto 4rem auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--milkTeaBeige);
}
.heroImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}
.heroContent {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  gap: 0.6rem;
}
.heroContent h1 {
  font-size: 4rem; 
  font-weight:900;
  letter-spacing: 0.08em;
  line-height: 1.1;
  text-shadow: 0 4px 10px rgba(255, 255, 255, 0.6);
  margin: 0;
}
.heroContent .subheader {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 4px 10px rgba(53, 26, 2, 0.8);
  border-radius: 20px;
  text-decoration: none;
  margin: 0;

}
.homeCtaButton {
  margin-top: 0.3rem; 
  margin-bottom: 0; 
}
@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 3rem; 
  }
  .heroContent .subheader {
    font-size: 2rem; 
  }
  .homeCtaButton {
    margin-top: 0.6rem; 
  }
}

.brandsHeader{
  padding: 3rem 1rem;
  background-color: var(--milkTeaBeige);
}
.searchFilterBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1.5rem;
  position: relative;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  white-space: nowrap;
}
.searchCtaButton{
  flex-grow: 1;
  flex-basis: 0;
  height: 60px; 
  padding: 0 1rem;
  border-radius: 40px; 
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bobaBrown);
  color: var(--white);
  text-transform: uppercase;
  border: none;
}
.filterOptionsDropdown{
  position: absolute;
  top: 100%;
  left: 0; 
  right: auto; 
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid var(--bobaBrown);
  border-radius: 8px;
  padding: 10px;
  display: none;
  flex-direction: column;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#brandFilterOptions.show, 
#flavorFilterOptions.show, 
#locationFilterOptions.show {
  display: flex;
}

.filterOptionButton{
  background: none;
  border: none;
  font-family: Garamond, serif;
  color: var(--bobaBrown);
  text-align: left;
  padding: 8px;
  margin: 3px 0;
}
.filterOptionButton:hover{
  background-color: var(--matchaGreen);
  color: var(--white);
  border-radius: 8px;
}

.brandCardContainer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:  16px;
  padding: 16px 40px;
}
.brandCard{
  position: relative;
  background-color: var(--whiteSmoke);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  padding-bottom: 80px;
  text-align: center;
  min-height: 420px;
}

.logoPlace{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  margin: 0 auto 15px;
  border-radius: 8px;
  overflow: hidden;
}
.brandLogo {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px; 
}
.ctaButton{
  background-color: var(--bobaBrown); 
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 19px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: 'Permanent Marker', cursive;
  margin-top: 1rem;
  border: var(--matchaGreen) 4px solid;
}
.ctaButton:hover {
  background-color: var(--matchaGreen); 
  color: var(--white);
  border: 4px solid var(--bobaBrown);
}
.brandCard .ctaButton{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bobaBrown);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 19px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: 'Permanent Marker', cursive;
  white-space: nowrap;
}
.brandCard .ctaButton:hover {
  background-color: var(--matchaGreen);
}
@media (min-width: 600px) {
  .brandCardContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 60px; 
    }
}
@media (min-width: 900px) {
  .brandCardContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 36px 70px; 
    }
}
@media (min-width: 1200px) {
  .brandCardContainer {
    grid-template-columns: repeat(4, 1fr);
    padding: 48px 80px; 
    }
}

#modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}
#modalContainer:not(.hidden) {
    display: flex;
    position: fixed;
}
#brandDetailsModal{
  background-color: var(--whiteSmoke);
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  width: 600px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#brandDetailsModal h4{
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.06rem;
}
#modalContent ol.number{
  list-style: none;
  padding-left: 0;
  counter-reset: signature-counter;
  margin-top: 1rem;
}
#modalContent ol.number li{
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.2rem;
  padding-left: 40px;
  position: relative;
  line-height: 1.4;
  color: var(--bobaBrown);
}
#modalContent ol.number li::before{
  counter-increment: signature-counter;
  content: counter(signature-counter);
  position: absolute;
  left: 0;
  top: 0.05rem;
  background: linear-gradient(135deg, var(--bobaBrown), var(--matchaGreen));
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
#modalContent ul{
  list-style-type: none;
  padding-left: 0;
}
#modalContent iframe{
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--bobaBrown);
  display: block;
}
#closeModalBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--bobaBrown);
}
.hidden{
  display: none;
}
.aboutWrapper {
  background-color: var(--whiteSmoke);
  padding: 3rem 1.5rem;
  border: 4px solid var(--bobaBrown);
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  max-width: 850px;
  margin: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.aboutPhotoCard {
  width: 250px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--bobaBrown);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.aboutPhotoCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutIntroCard {
  max-width: 600px;
  text-align: center;
}
.aboutIntroCard h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--matchaGreen);
}

.aboutColumn h3 {
  text-transform: uppercase;
  color: var(--bobaBrown);
  border-bottom: 2px solid var(--bobaBrown);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.aboutColumn ul {
  list-style-type: none;
  padding: 0;
}
.aboutColumn li {
  margin-bottom: 0.75rem;
}
.aboutColumn a {
 color: var(--bobaBrown);
  text-decoration: none;
}
.aboutColumn a:hover {
  text-decoration: underline;
  color: var(--matchaGreen);
}
.aboutGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.aboutCard{
  background-color: #FFF3E9;
  
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.aboutCard:hover{
  transform: translateY(-5px);
  border: 4px solid var(--bobaBrown);
}
.aboutColumn{
  text-align: center;
}
.about h3{
  text-align: center;
}
#brandDetailsModal{
  position: relative;
  padding-bottom: 80px;
}
.webBtn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bobaBrown);
  color: var(--whiteSmoke);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 19px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: 'Permanent Marker', cursive;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.webBtn:hover {
  background-color: var(--matchaGreen); 
  color: var(--white);
  
}
.finderCard{
  width: 90%;
  max-width: 700px;
  margin: 2rem auto 1rem auto;
  background-color: var(--bobaBrown);
  color: var(--whiteSmoke);
  padding: 2rem 1.5rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--whiteSmoke);
}
.finderTitle{
  font-size: 3rem;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: var(--whiteSmoke);
}
.finderSubtitle{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0 0 0;
  font-family: 'EB Garamond', serif;
  color: var(--whiteSmoke);
}
.aboutIntroCard h2{
  letter-spacing: 0.3rem;
}
@media (min-width: 880px) {
  .aboutWrapper {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    padding: 50px;
    gap: 3rem;
    margin: 3rem auto;
  }
  .aboutIntroCard {
    text-align: left;
    padding-left: 0;
  }

    
  .aboutPhotoCard {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px; 
    flex-shrink: 0;
  }
  .aboutGrid{
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .aboutCard{
    width: calc(50% - 1rem);
  }
}
.name{
  font-family: "Permanent Marker", cursive; 
  font-size: 1.5rem;
}




