/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url("https://use.typekit.net/gvs0cxm.css");
@import url("https://use.typekit.net/lif3ixw.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/vbe1gxg.css");

html {
    box-sizing: border-box; 
    font-size: 16px; 
}
*,
*:before,
*:after {
    box-sizing: inherit; 
}
:root {
  --milkTeaBeige: #ECD0B8; 
  --bobaBrown: #4E2501; 
  --matchaGreen: #B4C69A; 
  --whiteSmoke: #FFF3E9; 
  --white: #FFFFFF; 
  --black: #000000;
}
body {
  background-color: var(--milkTeaBeige);
  color: var(--bobaBrown);
  font-family: 'EB Garamond', Garamond, serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3{
  font-family: Ekamai, sans-serif;
  color: var(--bobaBrown);
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.subheader{
  font-family: 'Bradley hand ITC', sans-serif;
  color: var(--bobaBrown);
  
}

.globalNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bobaBrown);
  padding: 1rem 1.5rem;
  top: 0;
  z-index: 50;
  color: var(--white);
}
.globalNav ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}
.globalNav a{
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Cooper Black', sans-serif ;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.globalNav a:hover{
  text-decoration: underline;
  color: var(--matchaGreen);
}
.globalNav a.isActive{
  background-color: var(--bobaBrown);
  color:var(--matchaGreen);
}

.homeCtaButton {
  display: inline-block; 
  text-decoration: none;
  background-color: var(--bobaBrown);
  color: var(--milkTeaBeige);
  margin-top: 2rem;
  margin-bottom: 2rem; 
}
.heroHeader{
  text-align: center;
  line-height: 1.2;
}
.homeHeader{
  padding: 3rem 1rem;
  background-color: var(--milkTeaBeige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeHeader h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  max-width: 98%;
}
.homeHeader .subheader {
  font-size: 1.5rem;
  text-align: center;
}
.homeCtaButton {
  margin-top: 3rem; 
  margin-bottom: 0; 
}
@media (max-width: 768px) {
  .homeHeader h1 {
    font-size: 3rem; 
  }
  .homeHeader .subheader {
    font-size: 1.4rem; 
  }
  .homeCtaButton {
    margin-top: 2rem; 
  }
}

.brandsHeader{
  padding: 3rem 1rem;
  background-color: var(--milkTeaBeige);
}
.searchFilterBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1.5rem;
  position: relative;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
  height: 60px; 
  padding: 0 1.8rem;
}
.searchInput{
  padding: 0rem 1rem;
  border-radius: 40px;
  flex-grow: 1;
  height: 60px;
  font-family: Garamond, serif;
  font-size: 1.2rem;
}
#filterOptions{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border: 1px solid var(--bobaBrown);
  border-radius: 8px;
  padding: 10px;
  display: none;
  flex-direction: column;
  min-width: 150px;
  max-width: 90%;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#filterOptions.show {
  display: flex;
}

.filterOptionButton{
  background: none;
  border: none;
  font-family: Garamond, serif;
  color: var(--bobaBrown);
  text-align: left;
  padding: 8px;
  margin: 3px 0;
}
.filterOptionButton:hover{
  background-color: var(--matchaGreen);
  color: var(--white);
  border-radius: 8px;
}

.brandCardContainer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:  16px;
  padding: 16px 40px;
}
.brandCard{
  background-color: var(--whiteSmoke);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
}
.logoPlace{
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  margin: 0 auto 15px;
  border-radius: 8px;
  overflow: hidden;
}
.brandLogo {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px; 
}

.ctaButton{
  background-color: var(--bobaBrown);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 19px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: 'Cooper Black', sans-serif;
  margin-top: 1rem;
}
.ctaButton:hover {
  background-color: var(--matchaGreen); 
  color: var(--white); 
}

@media (min-width: 600px) {
  .brandCardContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 60px; 
    }
}
@media (min-width: 900px) {
  .brandCardContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 36px 70px; 
    }
}
@media (min-width: 1200px) {
  .brandCardContainer {
    grid-template-columns: repeat(4, 1fr);
    padding: 48px 80px; 
    }
}

#modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}
#modalContainer:not(.hidden) {
    display: flex;
    position: fixed;
}
#brandDetailsModal{
  background-color: var(--whiteSmoke);
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  width: 600px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#modalContent ul {
  list-style-type: none;
  padding-left: 0;
}
#modalContent iframe{
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--bobaBrown);
  display: block;
}
#closeModalBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--bobaBrown);
}
.hidden{
  display: none;
}
.aboutMain {
  padding: 3rem 1rem;
  max-width: 1200px; 
  margin: 0 auto;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}
.aboutPhotoCard {
  width: 200px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--bobaBrown);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.aboutPhotoCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutIntroCard {
  max-width: 600px;
  text-align: center;
}
.aboutIntroCard h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--matchaGreen);
}
.aboutLower {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.aboutColumn h3 {
  text-transform: uppercase;
  color: var(--bobaBrown);
  border-bottom: 2px solid var(--bobaBrown);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.aboutColumn ul {
  list-style-type: none;
  padding: 0;
}
.aboutColumn li {
  margin-bottom: 0.75rem;
}
.aboutColumn a {
 color: var(--bobaBrown);
  text-decoration: none;
}
.aboutColumn a:hover {
  text-decoration: underline;
  color: var(--matchaGreen);
}

@media (min-width: 768px) {
  .aboutWrapper {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    padding: 0 50px;
  }
  .aboutIntroCard {
    text-align: left;
    padding-left: 2rem;
  }
    
  .aboutPhotoCard {
    width: 250px; 
    flex-shrink: 0;
  }
  .aboutLower {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px;
  }
  .aboutColumn {
    flex-basis: 45%;
  }
}